{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
    {% endblock %}

{% block body %}
    <div class="justify-content-center text-center">
        <h1 class="m-5 text-center">Stats Aviron</h1>
    </div>
    <section class="container">
        <div class="row justify-content-center align-items-center box-shadow card-shadow">
            <div class="col-8 col-md-4 text-center mt-2 mb-2">
                <h5>Total inscrits licence compétition</h5>
                {% for subscriberCount in actualSubscribers %}
                    <p class="subscribers-count mb-0">{{ subscriberCount }}</p>
                {% endfor %}
            </div>
            <div class="col-8 col-md-4 text-center divider-border mt-2 mb-2">
                <h5>Total nouveaux inscrits</h5>
                {% for NewSubscriberCount in newSubscribers %}
                    <p class="subscribers-count mb-0">{{ NewSubscriberCount }}</p>
                {% endfor %}
            </div>
            <div class="col-8 col-md-4 text-center mt-2 mb-2">
                <h5>Total jeunes</h5>
                {% for youngSubscribersCount in youngSubscribers %}
                    <p class="subscribers-count mb-0">{{ youngSubscribersCount }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-between align-items-center mt-5">
            <div class="col-xl-6 my-4 text-center card-shadow py-4 box-shadow">
                <h4 class="mb-4">Répartition par catégories (%)</h4>
                {{ mukadi_chart(categoriesChart) }}
            </div>
            <div class="col-xl-6 my-4 text-center card-shadow py-4 box-shadow">
                <h4 class="mb-4">Répartition par licences (%)</h4>
                {{ mukadi_chart(licencesChart) }}
            </div>
        </div>
        <div class="row justify-content-between align-items-center mt-5">
            <div class="col text-center card-shadow py-4 box-shadow">
                <h4 class="mb-4">Évolution des inscriptions</h4>
            </div>
        </div>
        <div class="row justify-content-between align-items-center mt-5">
            <div class="col-xl-6 my-4 text-center card-shadow py-4 box-shadow">
                <h4 class="mb-4"></h4>
            </div>
            <div class="col-xl-6 my-4 text-center card-shadow py-4 box-shadow">
                <h4 class="mb-4">Total de licenciés par type de licence sur l'année en cours</h4>
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                    <tr>
                        {% for licence,count in subscribersByLicences %}
                            <th scope="col" class="text-center"> {{ licence }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for licence,count in subscribersByLicences %}
                            <td>{{ count }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row justify-content-between align-items-center mt-5">
            <div class="col text-center card-shadow py-4 box-shadow">
                <h4 class="mb-4">Total de licenciés par catégorie sur l'année en cours</h4>
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                    <tr>
                        {% for category, count in subscribersByCategories %}
                            <th>{{ category }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for category, count in subscribersByCategories %}
                            <td> {{ count }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="/bundles/mukadichartjs/Chart.bundle.min.js"></script>
    <script src="/bundles/mukadichartjs/mukadi.chart.min.js"></script>
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('navbar') }}
{% endblock %}