{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Statistiques générales{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="text-center my-4">
        Statistiques - Général
    </h1>
    <div class="row pb-4 mb-5">
        <div class="col">
            {{ render_chart(categoriesChart) }}
        </div>
    </div>
    <div class="row ml-4">
        <div class="col mt-5">
            <a href="{{ path('statistics_general', { categoryFilter : '' }) }}" class="btn {{ categoryFilter == '' ? 'btn-secondary' : 'btn-primary' }} btn-sm">Toutes les catégories</a>
            <a href="{{ path('statistics_general', { categoryFilter : 'Jeunes' }) }}" class="btn {{ categoryFilter == 'Jeunes' ? 'btn-secondary' : 'btn-primary' }} btn-sm">Jeune</a>
            <a href="{{ path('statistics_general', { categoryFilter : 'Juniors' }) }}" class="btn {{ categoryFilter == 'Juniors' ? 'btn-secondary' : 'btn-primary' }} btn-sm">Junior</a>
            <a href="{{ path('statistics_general', { categoryFilter : 'Seniors' }) }}" class="btn {{ categoryFilter == 'Seniors' ? 'btn-secondary' : 'btn-primary' }} btn-sm">Senior</a>
        </div>
    </div>
    <div class="row pb-4 mb-5">
        <div class="col">
            {{ render_chart(licencesChart) }}
        </div>
    </div>
    <div class="row pb-4 mt-5">
        <div class="col">
            {{ mukadi_chart(totalChart) }}
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-12">
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center" >Catégorie</th>
                    <th scope="col" class="text-center">Type de licence</th>
                    <th scope="col" class="text-center">Sexe</th>
                    {% for season in seasons %}
                        <th scope="col" class="text-center">{{ season.name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for categoryLabel, licences in statistics %}
                    {%  for licenceAcronym, licenceData in licences %}
                        <tr>
                            {% if loop.index == 1 %}
                            <td class="text-center align-middle category-td h5" rowspan="12">{{ categoryLabel }}</td>
                            {% endif %}
                            <td class="text-center align-middle licence-td" rowspan="2">{{ licenceAcronym}} </td>
                            <td class="text-center">F</td>
                                {% for season in seasons %}
                                        {% for seasonData in licenceData|filter(seasonData => seasonData.name == season.name and seasonData.gender == 'F') %}
                                            <td class="text-center">
                                            {{ seasonData.total }}
                                            </td>
                                        {% else %}
                                            <td></td>
                                        {% endfor %}
                                {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">H</td>
                            {% for season in seasons %}
                                {% for seasonData in licenceData|filter(seasonData => seasonData.name == season.name and seasonData.gender == 'H') %}
                                    <td class="text-center">
                                        {{ seasonData.total }}
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td class="text-center align-middle category-td h5" rowspan="3" colspan="2">Grand total par saison</td>
                    <td class="text-center">H</td>
                    {% for season in seasons %}
                        {% for total in totalPerSeason|filter(total => total.name == season.name and total.gender == 'H') %}
                            <td class="text-center">
                                {{ total.total }}
                            </td>
                        {% else %}
                            <td></td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="text-center">F</td>
                    {% for season in seasons %}
                        {% for total in totalPerSeason|filter(total => total.name == season.name and total.gender == 'F') %}
                            <td class="text-center">
                                {{ total.total }}
                            </td>
                        {% else %}
                            <td></td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="text-center">Total</td>
                    {% for season in seasons %}
                        {% for total in grandTotal|filter(total => total.name == season.name) %}
                            <td class="text-center">
                                {{ total.total }}
                            </td>
                        {% else %}
                            <td></td>
                        {% endfor %}
                    {% endfor %}
                </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="/bundles/mukadichartjs/Chart.bundle.min.js"></script>
    <script src="/bundles/mukadichartjs/mukadi.chart.min.js"></script>
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('navbar') }}
{% endblock %}
