{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Statistiques sortants{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-4">
            Statistiques - Sortants
        </h1>
        <div class="text-center mb-5">
            <a href="#category" class="btn btn-primary btn-sm">Répartition par Catégorie</a>
            <a href="#licence" class="btn btn-primary btn-sm">Répartition par Type de Licence</a>
            <a href="#gender" class="btn btn-primary btn-sm">Répartition par Genre</a>
            <a href="#table" class="btn btn-primary btn-sm">Tableau général</a>
        </div>
        <div id="category" class="row ml-4 pt-4">
            <div class="col">
                <h2>Répartition par Catégories</h2>
            </div>
        </div>
        <div class="row pb-4 mb-5">
            <div class="col">
                {{ render_chart(outgoingCategoryChart) }}
            </div>
        </div>
        <div id="licence" class="row ml-4 pt-4">
            <div class="col">
                <h2>Répartition par Type de Licence</h2>
            </div>
        </div>
        <div class="row pb-4 mb-5">
            <div class="col">
                {{ render_chart(outgoingLicenceChart) }}
            </div>
        </div>
        <div id="gender" class="row ml-4 pt-4">
            <div class="col">
                <h2>Répartition par Genre</h2>
            </div>
        </div>
        <div class="row pb-4 mb-5">
            <div class="col">
                {{ render_chart(outgoingGenderChart) }}
            </div>
        </div>
    </div>
    <div class="container-fluid pr-5 pb-5">
        <div id="table" class="row mr-2 pt-4">
            <div class="col-12">
                <table class="table table-hover table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">Catégorie</th>
                        <th scope="col" class="text-center">Type de licence</th>
                        <th scope="col" class="text-center">Sexe</th>
                        {% for season in seasons %}
                            {% if loop.index >= 2 %}
                                <th scope="col" class="text-center">{{ season.name }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for categoryLabel, licences in statistics %}
                        {% for licenceAcronym, licenceData in licences %}
                            <tr>
                                {% if loop.first %}
                                    <td class="text-center align-middle category-td"
                                        rowspan="12">{{ categoryLabel }}</td>
                                {% endif %}
                                <td class="text-center align-middle licence-td"
                                    rowspan="2">{{ licenceAcronym }} </td>
                                <td class="text-center">F</td>
                                {% for seasonName, genderData in licenceData %}
                                    {% for gender, genderTotal in genderData|filter((genderTotal, gender) => gender == 'F') %}
                                        {% if genderTotal == 0 %}
                                            <td class="text-center">-</td>
                                        {% else %}
                                            <td class="text-center">
                                                {{ genderTotal }}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td class="text-center">H</td>
                                {% for seasonName, genderData in licenceData %}
                                    {% for gender, genderTotal in genderData|filter((genderTotal, gender) => gender == 'H') %}
                                        {% if genderTotal == 0 %}
                                            <td class="text-center">-</td>
                                        {% else %}
                                            <td class="text-center">
                                                {{ genderTotal }}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 align-self-end">
                <a href="#userBar" class="btn btn-sm btn-primary toTopButton" title="Retour en haut de la page">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white"
                         class="bi bi-arrow-up"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
