{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Récapitulatif des {{ display }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center my-4">Récapitulatif des {{ display }}</h1>
        <div class="mb-4 filters">
            <h2 class="h3 pt-3 pb-2 text-center">Filtres appliqués</h2>
            <div class="row px-4 pt-4">
                <div class="col-3 pb-4">
                    Saisons : de <strong>{{ filters.fromSeason.name }}</strong>
                    à <strong>{{ filters.toSeason.name }}</strong>
                </div>
                {% if filters.fromAdherent or filters.toAdherent %}
                    <div class="col-3 pb-4">
                        Numéro adhérent : de <strong>{{ filters.fromAdherent ? filters.fromAdherent : '-' }}</strong>
                        à <strong>{{ filters.toAdherent ? filters.toAdherent : '-' }}</strong>
                    </div>
                {% endif %}
                {% if filters.gender|length == 1 %}
                    <div class="col-2 pb-4">
                        Sexe : <strong>{{ constant('App\\Entity\\Subscriber::GENDER')[filters.gender[0]] }}</strong>
                    </div>
                {% endif %}
                {% if filters.fromCategory or filters.toCategory %}
                    <div class="col-4 pb-4">
                        Catégorie : de <strong>{{ filters.fromCategory ? filters.fromCategory.label : '-' }}</strong>
                        à <strong>{{ filters.toCategory ? filters.toCategory.label : '-' }}</strong>
                        (pour la saison <strong>{{ filters.seasonCategory.name }}</strong>)
                    </div>
                {% endif %}
                {% if filters.firstLicence or filters.firstCategory %}
                    <div class="col-6 pb-4">
                        Première inscription en :
                        <strong>
                            {{ filters.firstLicence ? filters.firstLicence.acronym : filters.firstCategory.label }}
                        </strong>
                        {{ filters.stillRegistered ? 'et toujours inscrit' : '' }}
                    </div>
                {% endif %}
                {% if filters.duration %}
                    <div class="col-4 pb-4">
                        Durée d'inscription :
                        <strong>{{ filters.duration }}</strong> an(s)
                        <strong>{{ filters.orMore ? 'ou plus' : '' }}</strong>
                        {{ filters.stillAdherent ? 'et toujours inscrit' : '' }}
                    </div>
                {% endif %}
            </div>
            <div class="row pb-4 pl-4">
                {% if filters.status %}
                    <div class="col-6">
                        Statut :
                        {% set status = '' %}
                        {% for filter in filters.status %}
                            {% set status = loop.last ? status ~ filter.name : status ~ filter.name ~ ', ' %}
                        {% endfor %}
                        <strong>{{ status }}</strong>
                        (pour la saison <strong>{{ filters.seasonStatus.name }}</strong>)
                    </div>
                {% endif %}
                {% if filters.licences %}
                    <div class="col-6">
                        Type de licence :
                        {% set licences = '' %}
                        {% for licence in filters.licences %}
                            {% set licences =
                                loop.last ? licences ~ licence.acronym : licences ~ licence.acronym ~ ', ' %}
                        {% endfor %}
                        <strong>{{ licences }}</strong>
                        (pour la saison <strong>{{ filters.seasonLicence.name }}</strong>)
                    </div>
                {% endif %}
            </div>
            <div class="text-center filters">
                <a href="{{ path('subscribers_filter', {display : display}) }}" type="button" class="btn btn-primary mb-4">
                    Faire une nouvelle recherche
                </a>
            </div>
        </div>
        <div class="row mb-3 mr-1 justify-content-end align-items-center">
            {% if display == 'renouvellements' %}
                Statuts :
                {% for status in statusDB %}
                    <div class="p-1 ml-2" style="background-color: {{ status.color }};">
                        {{ status.name }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if display == 'inscriptions' %}
                Catégories :
                {% for color, category in categoriesDB %}
                    <div class="p-1 ml-2" style="background-color: {{ color }};">
                        {{ category }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if display == 'licences' %}
                Types de licences :
                {% for licence in licencesDB %}
                    <div class="p-1 ml-2" style="background-color: {{ licence.color }};">
                        {{ licence.name }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">N° adhérent</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Date de naissance</th>
                        <th scope="col">Genre</th>
                        {% for season in seasons %}
                            <th scope="col" class="text-center">{{ season.name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for subscriber in subscribers %}
                        <tr>
                            <td>{{ subscriber.licenceNumber}}</td>
                            <td>{{ subscriber.lastname }}</td>
                            <td>{{ subscriber.firstname }}</td>
                            <td>{{ subscriber.birthdate|date("d/m/Y") }}</td>
                            <td>{{ subscriber.gender }}</td>
                            {% for season in seasons %}
                                {% for subscription in subscriber.subscriptions|filter(subscription => subscription.season.id == season.id) %}
                                    {% if display == 'licences' %}
                                        <td class="text-center" style="background-color:{{ subscription.licence.color }}">{{ subscription.licence.acronym }}</td>
                                    {% elseif display == 'renouvellements'%}
                                        <td class="text-center" style="background-color:{{ subscription.status.color ?? ''}} ">{{ subscription.status.label ?? '?'}}</td>
                                    {% elseif display == 'inscriptions' %}
                                        <td class="text-center" style="background-color:{{ subscription.category.color }}">{{ subscription.category.label ?? 'null' }}</td>
                                    {% endif %}
                                {% else %}
                                    <td></td>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-center align-items-start">
                    <nav aria-label="pagination">
                        {% do subscribers.setPageRange(3) %}
                        {{ knp_pagination_render(subscribers,
                            '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
                            {},
                            {
                                'align': 'center',
                            })
                        }}
                    </nav>
                    <div class="mt-2 mr-4 results">{{ numberResults }} résultat(s)</div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{{ path('subscribers_export', {display : display}) }}" class="btn btn-sm btn-primary mt-3 mb-5">Exporter en csv</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}