{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Types de licence{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h1 class="text-center my-4">
            {% if display == 'licences' %}Récapitulatif des types de licences{% endif %}
            {% if display == 'subscriptions' %}Récapitulatif des inscriptions{% endif %}
        </h1>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">N° adhérent</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Date de naissance</th>
                        <th scope="col">Genre</th>
                        {% for season in seasons %}
                            <th scope="col" class="text-center">{{ season.name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for subscriber in subscribers %}
                        <tr>
                            <td>{{ subscriber.licenceNumber}}</td>
                            <td>{{ subscriber.lastname }}</td>
                            <td>{{ subscriber.firstname }}</td>
                            <td>{{ subscriber.birthdate|date("m/d/Y") }}</td>
                            <td>{{ subscriber.gender }}</td>
                            {% for season in seasons %}
                                {% if display == 'licences' %}
                                    {% for subscription in subscriber.subscriptions|filter(subscription => subscription.season.id == season.id) %}
                                        <td class="text-center">{{ subscription.licence.acronym }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endfor %}
                                {% elseif display == 'subscriptions' %}
                                    {% for subscription in subscriber.subscriptions|filter(subscription => subscription.season.id == season.id) %}
                                        <td class="text-center">{{ subscription.category.label }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col">
                        <a href="{{ path('subscribers_export', {display : display}) }}" class="btn btn-sm btn-primary mt-3 mb-5">Exporter en csv</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}