<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Stats Aviron | {% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block navbar %} {% include '_includes/_navbar.html.twig' %} {% endblock %}
        {% block user %} {% include '_includes/_userbar.html.twig' %} {% endblock %}

        <div id="content" >

            {% for category, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ category }} text-center rounded-0">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('navbar') }}
        {% endblock %}
    </body>
</html>
